#content {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}
 
#greeting-container {
  margin-top: 20px;
}

body {
  font-family: "Lato", sans-serif;
  color: black;
  text-align: left;
}

p1 {
    font-size: 1.875em;
    text-align: center;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 40px;
  text-align: center;
}

h4 {
  font-size: 30px;
  text-align: center;
}

h5 {
  font-size: 15px;
  text-align: left;
}

h6 {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.sidenav {
  background-color: #111;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 160px;
  z-index: 1; 
}
 
.sidenav a {
  color: #818181;
  display: block;
  font-size: 25px;
  padding: 6px 8px 6px 16px;
  text-decoration: none; 
}
 
.sidenav a:hover {
  color: #f1f1f1;
}
 
.main {
  font-size: 28px; /* Increased text to enable scrolling */  
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  padding: 5px;
  width: 33.33%;
}

/* Clear floats after image containers */
.row::after {
  clear: both;
  content: "";
  display: table;
}

.footer {
  background-color: green;
  bottom: 0;
  color: white;
  height: 5%;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}